<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
				
		<add name="ConexionEntregas"
             connectionString="Data Source=DESKTOP-QJRBE9H\SQLEXPRESS;Initial Catalog=ENTREGAUNED;Integrated Security=true;Encrypt=False;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />
	</connectionStrings>
</configuration>